﻿@model Loja.UI.Web.ViewModel.ProdutoViewModel
@{
    ViewData["Title"] = "Produtos";
}

@using (Html.BeginForm("Index","Home", FormMethod.Post, new { @id = "formulario" }))
{
    @Html.HiddenFor(m => m.Acao)
    @Html.HiddenFor(m => m.IdExcluir)

<div class="container">
    <h2 class="display-4">Produtos</h2>
    <div>
        @if (Model.MensagemErro.Length > 0)
        {
            <!-- Error Alert -->
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>Erro!</strong> @Model.MensagemErro.
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }

        @if (Model.MensagemSucesso.Length > 0)
        {
            <div class="alert alert-success alert-dismissible fade show">
                <strong>Sucesso!</strong> @Model.MensagemSucesso.
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-sm btn-primary" id="btnAdicionar" data-toggle="modal" data-target="#modal_cadastro">Adicionar</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Loja.ApplicationCore.Entities.Produto item in Model.ListaProduto)
                {
                <tr>
                    <td>@item.ProdutoID</td>
                    <td>@item.Nome</td>
                    <td>@item.Descricao</td>
                    <td>@string.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:C}", item.Preco)</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary btnsAlterar" data-toggle="modal" data-target="#modal_cadastro" data-id="@item.ProdutoID" data-nome="@item.Nome" data-descricao="@item.Descricao" data-preco="@item.Preco">Altera</button>
                        <button type="button" class="btn btn-sm btn-danger btnsExcluir" data-toggle="modal" data-target="#modalConfirma" data-id="@item.ProdutoID">Excluir</button>
                    </td>
                </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

<!--Modal de cadastro de Produto-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_cadastro">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="">
                    <div class="alert alert-danger" role="alert" id="divErro" style="display:none">
                        <span id="txtMensagemErro"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label>ID do Produto</label>
                        <input type="text" id="formId" name="formId" class="form-control" maxlength="30"  readonly="readonly"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Nome do Produto</label>
                        <input type="text" id="formNome" name="formNome" class="form-control" maxlength="30" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Descrição do Produto</label>
                        <input type="text" id="formDescricao" name="formDescricao" class="form-control" maxlength="100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Preço do Produto</label>
                        <input type="number" id="formPreco" name="formPreco" step=".01" min="0" value="0" class="form-control" maxlength="30" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGravar">Gravar</button>
                <button type="button" class="btn btn-secondary" id="btnCancelar" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você realmente desejar excluir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <button type="button" id="btnSimExcluir" class="btn btn-primary">Sim</button>
            </div>
        </div>
    </div>
</div>



}

<script src="~/js/typescripts/ProdutoListagem.js"></script>