﻿@{
    ViewData["Title"] = "Sobre mim";
}
<h1>@ViewData["Title"]</h1>

<h3>Carlos Vamberto Filho</h3>
<a href="http://www.linkedin.com/in/carlosvamberto" target="_blank">Perfil LinkedIn</a><br/>
<b>Contatos:</b>
<p>(92) 98182-4565 (whatsapp)</p>
<p><a href="mailto:carlosvamberto@hotmail.com">carlosvamberto@hotmail.com</a></p>
